<!DOCTYPE html>
<html lang="pt-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciando com Vue</title>
</head>
<body>
    <div id="app">
        {{"Antônio Felix"}}
        <input type="text" v-model="variavel">{{variavel}}
        <input type="text" v-model="variavel2">{{variavel2}}
        <p>
            {{parseInt(variavel) + parseInt(variavel2)}}
        </p>
    </div>
<!-- development version, includes helpful console warni01ngs -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
    new Vue ({
        el: '#app',
        data: {
            variavel: 1,
            variavel2: 1
        }
    })
</script>
</body>
</html>